config/database.yml
public/stylesheets/pole_nord/style.css
*.swp
*.patch
tmp
log
public/images/admin/
public/images/jquery-ui/
public/images/medias/
public/images/spinner.gif
public/images/tinyMCE/
public/images/uploadify/
public/javascripts/admin
public/javascripts/flowplayer-3.1.4.min.js
public/javascripts/jquery-ui
public/javascripts/jquery-ui.js
public/javascripts/jquery.cookies.min.js
public/javascripts/jquery.dataSlides.js
public/javascripts/jquery.dataTables.min.js
public/javascripts/jquery.droppy.js
public/javascripts/jquery.js
public/javascripts/jquery.uploadify.js
public/javascripts/jrails.js
public/javascripts/jstree/
public/javascripts/swfobject.js
public/javascripts/tiny_mce
public/stylesheets/jstree
public/stylesheets/sass/admin
public/stylesheets/sass/jstree
public/stylesheetsdataTables
vendor/plugins/engines
vendor/plugins/attachment_fu/
vendor/plugins/localized_dates/
vendor/plugins/open_flash_chart/
