[submodule "vendor/plugins/forgeos_core"]
	path = vendor/plugins/forgeos_core
	url = git@github.com:webpulser/forgeos_core.git
[submodule "vendor/plugins/forgeos_cms"]
	path = vendor/plugins/forgeos_cms
	url = git@github.com:webpulser/forgeos_cms.git
