*.patch
*.sql
*.swp
*~
.sass-cache
config/database.yml
public/uploads
public/plugin_assets/*
public/stylesheets/tinyMCE/
public/javascripts/audio-player.js
public/uploads
public/javascripts/tiny_mce/
public/stylesheets/960.css
public/stylesheets/application.css
public/stylesheets/homepage.css
public/stylesheets/admin/base.css
public/stylesheets/admin/login.css
public/stylesheets/dataTables/
public/stylesheets/jquery-ui/themes/
public/stylesheets/jquery.selectbox.css
public/stylesheets/jstree/
public/stylesheets/front/
public/stylesheets/sass/admin
public/stylesheets/sass/jstree
public/stylesheets/sass/jquery-ui
public/ellipsis.xml
public/flashes/
public/images/admin/background-page-right-sidebar.png
public/images/admin/backgrounds-verti.png
public/images/admin/backgrounds/
public/images/forgeos_commerce
public/images/front_demo
public/images/admin/big-icons-24-24-hori.png
public/images/admin/big-icons-24-24-verti.png
public/images/admin/big-icons-27-27-verti.png
public/images/admin/big-icons/
public/images/admin/big-red-wine-bottle.png
public/images/admin/borders-verti.png
public/images/admin/borders/
public/images/admin/bouteille-vin.png
public/images/admin/favicon.gif
public/images/admin/left-arrow.png
public/images/admin/left-select.png
public/images/admin/no-image.png
public/images/admin/no-image_50x50.png
public/images/admin/right-arrow.png
public/images/admin/right-select.png
public/images/admin/selects/
public/images/admin/small-icons-16-16-hori.png
public/images/admin/small-icons-16-16-verti.png
public/images/admin/small-icons/
public/images/jquery-ui/themes/
public/images/medias/
public/images/spinner.gif
public/images/tinyMCE/
public/images/uploadify/
public/javascripts/admin/
public/javascripts/flowplayer-3.1.4.min.js
public/javascripts/jquery.cookies.min.js
public/javascripts/jquery.dataSlides.js
public/javascripts/jquery.dataTables.min.js
public/javascripts/jquery.uploadify.js
public/javascripts/jstree/
public/javascripts/jquery-ui.js
public/javascripts/swfobject.js
public/javascripts/front_demo/
public/stylesheets/front_demo/
public/stylesheets/sass/960.sass
public/stylesheets/sass/front_demo/
public/stylesheets/admin/
public/javascripts/jquery.droppy.js
public/javascripts/jrails.js
public/stylesheets/posts_index.css
public/stylesheets/posts_show.css
public/stylesheets/product_categories_index.css
public/stylesheets/product_categories_show.css
tmp/*
log/*
