.grid_12
  .border.padding
    %h1
      Nous vous remercions de votre intérêt

    %p
      Nous accusons réception de votre message et le traitons dans les meilleurs
      délais.
    %p
      L'équipe Business on Rails
    = link_to I18n.t("nav.back_to_root"), root_url
