ul#categories-menu, ul#site-list

  padding: 0
  margin: 0

  li
    list-style: none

    a
      color: #1957bd
      font-weight: bold

  li.current
    a
      color: #d40600


#site-list

  .carrousel
    height: 312px

  .nav
    height: 23px
    border: solid 1px #ccc
    margin: 0 -1px

  .description
    height: 67px

    a.title
      font-weight: bold
      color: #1957bd
      font-size: 140%

    a.category
      font-weight: bold
      color: #000


ul#categories-menu

  li
    display: block
    float: left
    border-right: solid 1px #ccc

    a
      padding: 8px 10px
      display: block

  li.current
    background-color: #faa

  li:hover
    background-color: #ecc


#directory
  .right
    margin: 10px 10px 0 0
