.container_12
  .grid_12
    .btn
      .red-button.bold.footer
        - if footer_menu = ::Menu.find_by_single_key('footer-menu')
          = display_menu(footer_menu, :li_current_class => 'active')

= javascript_include_tag 'bor/jquery.jcarousel.pack', 'bor/inits'
