!!!1.1
%html{ 'xml:lang' => 'fr', :lang => 'fr', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/header'
    .container_12
      = yield
    = render :partial => 'layouts/footer'
